extends layout

block content
  h1= title
  - var results =[{name:"Earth", size:11234, speed:780000},{name:"Jupiter", size:49876, speed:890000},{name:"Saturn", size:56532, speed:685237}]
  div(class="container-fluid")
  div(class="row")
   each v,index  in results 
    div(class="col-sm-2" onclick =`buy(${index})`) #{v.name}, #{v.size}, #{v.speed}

    script.
        function buy(a)
        {
            alert(`You purchased Item ${a+1}`)
        }